.nav-box-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
    margin-bottom: 80px;
}

.nav-logo {
    display: flex;
    align-items: flex-start;
    margin: 0 !important;
}

.rocket-icon-nav {
    font-size: 32px !important;
}

.nav-menu {
    margin: 0 !important;
}