.request-create-grid {
    margin-top: 32px !important;
}

.request-create-input > input,
div {
    border-radius: 0px !important;
}

@media (max-width: 767px) {
    .request-create-grid {
        justify-content: center !important;
    }
}
